/* Solo afecta a la lista principal */
.frontpage-list {
    list-style: none;
    counter-reset: item;
    padding-left: 0;
}

.frontpage-list li {
    counter-increment: item;
    margin-bottom: 8px;
    padding-left: 40px;
    position: relative;
    font-weight: 500;
}

.frontpage-list li::before {
    content: counter(item);
    position: absolute;
    left: 0;
    top: 2px;
    width: 26px;
    height: 26px;
    background-color: #f4d03f;
    color: #333;
    text-align: center;
    line-height: 26px;
    border-radius: 4px;
    font-weight: bold;
}
