.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

#logout-form {
  display: inline;
}

#logout-form button {
  padding: 0;
  margin: 0;
}

.footer {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
    font-size: 14px;
}
