.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

#logout-form {
  display: inline;
}

#logout-form button {
  padding: 0;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
